# Creating Variables:

In [4]:
x = 10
y = 15.0
z = 'Python'

print(x)
print(y)
print(z)

* Python has no command for declaring variable with its type. Like in c/c++ we declar variable as " int x, float y "

In [8]:
type(x)

int

In [9]:
type(y)

float

In [10]:
type(z)

str

* type() is a buit-in keyword to see variable data types.

In [15]:
x = 200

In [16]:
y = 0.5

In [17]:
z = x * y

In [18]:
print(z)

100.0

In [19]:
type(z)

float

* variable name must start with a letter or the underscore character (_myname)
* variable name cannot start with a number
* variable name only contain (A-z, 0-9 and _ )
* in Python variable names are case sensitive (age, Age, AGE are three different variables)
* best practice is always use lowercase for declairing a variable name.

In [22]:
x, y, z = 'apple', 10, 102.456

In [23]:
print(x)
print(y)
print(z)

apple
10
102.456

* can assign multiple variable in one line.

In [1]:
x = 'awesome'

In [2]:
print("Python is " + x)

Python is awesome

* to combile text and variable in output phase Python uses the + Character

In [6]:
x = "Python is "
y = 'awesome'

In [7]:
z = x + y

In [8]:
print(z)

Python is awesome

* can use + character to add two or more variables.

In [1]:
x = "My age: "
y = 25

In [2]:
z = x + y

TypeError: can only concatenate str (not "int") to str

* can not combine string and number this way.

# Global Variables:

In [3]:
x = 'awesome'

In [6]:
def myfunc():
    print("Python is " + x)

In [7]:
myfunc()

Python is awesome

* create a variable outside of a function and use it inside the function.

In [12]:
x = 'awesome' #global variable

In [13]:
def my_func():
    x = 'fantastic'  #local variable
    print("Python is " + x)

In [14]:
my_func()

Python is fantastic

In [15]:
print("Python is " + x)

Python is awesome

* global and local variable

In [16]:
x = 'awesome' #global variable

In [17]:
def my_func():
    global x
    x = 'fantastic'  #local variable
    print("Python is " + x)

In [18]:
my_func()

Python is fantastic

In [20]:
print("Python is " + x)

Python is fantastic

* to change the value of a global variable inside a function just refer the variable by using the "global" keyword.

# Data Types:

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview

In [21]:
x = "hello world"

In [22]:
type(x)

str

In [23]:
x = 20

In [24]:
type(x)

int

In [25]:
x = 20.5

In [26]:
type(x)

float

In [27]:
x = 1j

In [28]:
type(x)

complex

In [29]:
x = ["apple","orange","mango"]

In [30]:
type(x)

list

In [31]:
x = {"apple","orange","mango"}

In [32]:
type(x)

set

In [33]:
x = ("apple", "banana", "mango")

In [34]:
type(x)

tuple

In [35]:
x = range(6)

In [36]:
type(x)

range

In [37]:
x = {"name" : "john", "age" : 36}

In [38]:
type(x)

dict

In [40]:
x = True

In [41]:
type(x)

bool

If you want to specify the data type, you can use the following constructor functions:

* x = str("Hello World")	str	
* x = int(20)	int	
* x = float(20.5)	float	
* x = complex(1j)	complex	
* x = list(("apple", "banana", "cherry"))	list	
* x = tuple(("apple", "banana", "cherry"))	tuple	
* x = range(6)	range	
* x = dict(name="John", age=36)	dict	
* x = set(("apple", "banana", "cherry"))	set	
* x = frozenset(("apple", "banana", "cherry"))	frozenset	
* x = bool(5)	bool	
* x = bytes(5)	bytes	
* x = bytearray(5)	bytearray	
* x = memoryview(bytes(5))	memoryview